<H1> <%= I18n.t('h1.create.item')  %> </H1>

<%= form_for @item do |f| %>

  <div class="field">Изображение:
    <% if f.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(f.errors.count, "error") %> prohibited this article from being saved:</h2>
        <ul>
          <% f.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div class="field">Название:  <br/><%= f.text_field :name, class: 'field' %></div>
  <div class="field">Категория: <br/>
    <%= f.collection_select(:category_id, Category.all, :id, :name_category) %>
  </div>
  <div class="field">Цена:      <br/><%= f.number_field(:price, in: 0.00..2000.00, step: 0.01) %></div>
  <div class="field">Вес одной единицы (кг):  <br/><%= f.number_field( :weight, in: 1..5, step: 1) %></div>
  <div class="field">Количество:<br/><%= f.number_field( :quantity, in: 1..30, step: 1) %></div>
  <div class="field">Доступность:<br/>
    <%= f.radio_button( :available, 'false' ) %>
    <%= label_tag( :available_false, 'нет' ) %>
    <%= f.radio_button( :available, 'true' ) %>
    <%= label_tag( :available_true, 'есть' ) %>
  </div>
  <div class="field">Описание:  <br/>
    <%= f.text_area :description, class: 'form-control', rows:'1', placeholder: 'Особенности товара'  %>
  </div>

  <div class="actions"><%= f.submit 'Создать товар' %></div>

<% end %>